.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/team.jpg");
    background-color: #28213b;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 290px;
    &__text {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 20px;
        text-transform: uppercase;
        color: white;
        opacity: 0.8;
        text-shadow: 0 15px 30px rgba(40, 40, 86, 0.8);
    }
    &_layout {
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .banner {
        height: 439px;
        &__text {
            font-size: 96px;
            line-height: 113px;
            letter-spacing: 63px;
            margin-left: 60px;
        }
        &_layout {
            margin-bottom: 80px;
        }
    }
}
