* {
    box-sizing: border-box;
    margin: 0;
}
.body {
    font-family: "TT Norms", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1360px;
    min-width: 335px;
    margin: 0 auto;
    padding: 0 20px;
}
